autopep8
certifi
chardet
Click
configparser
Flask
future
gunicorn
idna
itsdangerous
jedi
Jinja2
json-rpc
MarkupSafe
mccabe
parso
pluggy
pycodestyle
pydocstyle
pyflakes
python-language-server
requests
rope
six
snowballstemmer
urllib3
virtualenv
Werkzeug
yapf
