



{% raw %}
<body>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div id="matrix" v-if="seen">


    <table>
        <tr>
            <td></td>
            <th scope="col" v-for="col_title in cahiers_titles">{{col_title}}</th>
        </tr>
        <tr v-for="(line, index) in content">
            <th scope="row"> {{positif_titles[index]}}</th>
            <td v-for="column in line">
                <span v-for="film in column">{{film}}<br/></span>
            </td>

        </tr>

    </table>





</div>


<script>

matrix = new Vue({
  el: "#matrix",
  data: {
    content: {% endraw %}{{content|safe}}{% raw %},
    cahiers_titles: ["Les Cahiers: non noté", "★", "★★", "★★★", "★★★★", "★★★★★"],
    positif_titles: ["Positif: non noté", "★", "★★", "★★★", "★★★★", "★★★★★"],
    seen: true
  }
})

</script>

</body>

{% endraw %}